*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  
   
}
html{
  font-size: 70%;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  position:absolute;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */

  box-sizing: border-box;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #325e8f 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


