
.refresh{
    margin: 5px 0;
    background-color: rgba(12, 166, 190, 0.85);
    border-radius: 10px 10px;
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #07cbe9, 0 0 1em #d4d1bd,
      0 0 0.2em #07cbe9;
    border: 4px outset #c2dee9;
    outline: none;
    padding: 2px 14px 2px 14px;
    text-decoration: none;
}
.gripcards{

    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(5rem, 36rem));
    grid-template-rows: repeat(auto-fill, minmax(30rem, auto));
    grid-gap: 10px;
    margin-top: 1rem;
    
    
}
@media (max-width: 768px) {
  .gripcards{
    
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(5rem, 33rem));
    grid-template-rows: repeat(auto-fill, minmax(300px, 400px));
    grid-gap: 10px;
    margin-top: 1rem;
    
    
}
}

