.search{
    top: 1rem;
    border: 1px solid #a87e3e;
    border-radius: 5px;
    width: 130px;
    color: #a87e3e;
    font-size: 1.2rem;
    background-color: #f7f5f5;
    text-transform: capitalize;
    outline: none;
    border-style: solid;
    padding: 5px;
}

.divSearch{
    width: 100%;
    justify-content: space-evenly;;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    background-color: rgb(218, 213, 213);
    border-radius: 1.6rem;
}
@media (max-width: 768px) {


}
