

form {
    /* max-width: 350px; */
    margin: 0 auto;
    padding: 20px 20px;
    background: #f4f7f8;
    border-radius: 8px 8px 0 0;
    height: auto;
    width: 500px;
    text-align: left;
}

h1 {
    color: azure;
    margin: 30px 0 30px 0;
    text-align: center;
}
.inputForm{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 10px);
    padding: 5px;
}
    
/* input:hover, textarea:hover, select:hover {
outline: none;
border: 1px solid #095484;
} */
textarea {
    margin-bottom: 3px;
    resize: none;
    }

.nameAdvice{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2rem; */
}
.title{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.describeAdvice{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.testbox{
    margin: 5rem;
}
.btnBlock {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }

.btnBlock button {
    margin:auto;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    
    }
.btnBlock button:hover {
    background-color: #0666a3;
    }

.selections {
    margin: 0 auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 0 0 8px 8px;
    height: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.platforms{
    margin: 1.5rem 0 1.5rem 0;
}
.generos{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr ; 
    gap: 5px 0px;
    text-align: center;

}
.platform{
    display: flex;
    justify-content: center;
    padding:0.5rem;
    height:3rem;
}

.platform button{
    width: 2rem;
}
.platform h3{

    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    background-color: #095484;
    color: azure;
}